<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
	<title>Ruby on Rails cache workflow</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1274, user-scalable=no">
	<link rel="stylesheet" href="themes/ribbon/styles/style.css">

</head>
<body class="list">
	<header class="caption">
		<h1>Ruby on Rails cache workflow</h1>
	</header>
	<div class="slide" id="cover"><div>
		<section>
		  <header>
	        <h1>Ruby on Rails cache workflow</h1>
	      </header>

				<div style="text-align : right;">
				Alexander Rozumii<br />
				github.com/brain-geek<br />
				@brain-geek
				</div>
		</section>
	</div></div>

	<div class="slide shout" id="standard_workflow"><div>
		<section>
			<header>
				<h2>What is standard way of caching in Rails?</h2>
			</header>
		</section>
	</div></div>

  <div class="slide" id="rails-default1"><div>
    <section>
      <pre>
        <code>class ProductsController < ActionController</code>
        <code>  caches_page :index</code>
        <code>  def index</code>
        <code>    @products = Products.all</code>
        <code>  end</code>
        <code>  def create</code>
        <code>    expire_page :action => :index</code>
        <code>  end</code>
        <code>end</code>
      </pre>
    </section>
  </div></div>

  <div class="slide" id="rails-default2"><div>
    <section>
      <pre>
        <code>class ProductSweeper < ActionController::Caching::Sweeper</code>
        <code>  observe Product</code>
        <code>  def after_...</code>
        <code>  def expire_cache_for(product)</code>
        <code>    # Expire the index page now that we added a new product</code>
        <code>    expire_page(:controller => 'products', :action => 'index')</code>
        <code>    # Expire a fragment</code>
        <code>    expire_fragment('all_available_products')</code>
        <code>  end</code>
        <code>end</code>      
      </pre>
    </section>
  </div></div>


  <div class="slide shout" id="rails-default3"><div>
    <section>
      <header>
        <h2>Let's use it on the real news site</h2>
      </header>
    </section>
  </div></div>


  <div class="slide cover" id="FitToHeight"><div>
    <section>
      <img src="pictures/lbua.png" alt="">
    </section>
  </div></div>



	<div class="slide" id="with-taggable"><div>
		<section>
			<header>
				<h2>With taggable cache</h2>
			</header>

			<pre>				
				<code>-  <% cache key, :expires_in => 1.day do %></code>
				<code>+  <% cache key, :depends_on => [@sort_by, Product] do %></code>
			</pre>
		</section>
	</div></div>


	<div class="slide shout" id="thank_you"><div>
		<section>
			<header>
				<h2>Thank you!<br />
					Questions?</h2>				
			</header>
		</section>
	</div></div>

	<div class="progress"><div></div></div>
	<script src="scripts/script.js"></script>
	<!-- Copyright © 2010–2012 Vadim Makeev — pepelsbey.net -->
</body>
</html>